:root {
    
    height: 100vh;
}


.navbar {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

.navBtns {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.button {
    margin-right: 10px;
    color: white;
}

.base {
    background-color: aliceblue;
}

.pageHeader {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    /* max-width:max-content; */
    padding: 20px;
    color: black;
    width: 80%;
    background-color: white;
}

.about {
    background-color: #66D1FF;
}

.work {
    background-color: #48C78E;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.contact {
    color: white;
    background-color: #4258FF;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.quote {
    font-weight: bolder;
    color: white;
    
    bottom: 10%;
    
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #14161A;
    
    
}
.title {
    display: flex;
    padding-top: 15px;
    justify-self: center;
    border-bottom: white solid 3px;
}
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px black solid;
    border-radius: 5px;
    margin: 10px;
    min-width: 250px;
    max-width: 350px;
    background-color: black;
}

.projectContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.img {
    width: 100%;
    height:100%;
    border-radius: 15px;

}

main {
    display: flex;
    justify-content: center;
}